/* แก้ Css ของ Event ตรงนี้ระครับ */

.btn-warning:hover {
  background-color: #e6a500 !important; 
  color: #fff !important;
}

.btn-success:hover {
  background-color: #0e7e44 !important; 
  color: #fff !important;
}
  
  /*/////////////////////////////////////////////*/
  
  